div.uwt-tabcontainer
{
	box-sizing: border-box;
	/* display: table; */
	&.uwt-expand
	{
		width: 100%;
	}
	&> ul.uwt-tabcontainer-tabs
	{
		&> li
		{
			display: none;
			margin-bottom: -1px;
			&.uwt-visible
			{
				display: inline-block;
			}
			&> a
			{
				text-decoration: none;
				padding: 10px 15px;
			}
			&.uwt-visible > a
			{
				display: block;
			}
		}
		list-style-type: none;
		margin: 0px;
		padding: 0px;
	}
	&> div.uwt-tabcontainer-tabpages
	{
		position: relative;
		&> div.uwt-tabpage
		{
			/*display: none;*/
<<<<<<< HEAD
			/*
=======
>>>>>>> fa6a3e5406ba9b6d2229efa45d9687501b3b2ae2
			position: absolute;
			left: 0px;
			top: 0px;
			right: 0px;
<<<<<<< HEAD
			*/
			/*
			opacity: 0;
			visibility: hidden;
			*/
			display: none;
=======
			
			opacity: 0;
			visibility: hidden;
>>>>>>> fa6a3e5406ba9b6d2229efa45d9687501b3b2ae2
			
			padding: 10px 15px;
			&.uwt-selected
			{
<<<<<<< HEAD
				display: block;
				/*
				opacity: 1;
				visibility: visible;
				*/
=======
				/*display: block;*/
				opacity: 1;
				visibility: visible;
>>>>>>> fa6a3e5406ba9b6d2229efa45d9687501b3b2ae2
			}
		}
	}
	
	&.uwt-position-bottom
	{
		position: relative;
		&> ul.uwt-tabcontainer-tabs
		{
			position: absolute;
			bottom: 0px;
			left: 0px;
			right: 0px;
		}
		&> ul.uwt-tabcontainer-tabpages
		{
			left: 0px;
			right: 0px;
		}
	}
}
