body
{
	margin: 0px;
}

@media (min-width: 1000px)
{
	body
	{
		&:not(.uwt-hide-sidebar)
		{
			&> div.uwt-page, &> form > div.uwt-page
			{
				margin-left: 260px;
			}
		}
	}
}
body 
{
	&:not(.uwt-hide-header)
	{
		&> div.uwt-page, &> form > div.uwt-page
		{
			/* margin-top: 60px; */
		}
	}
	&.uwt-hide-sidebar
	{
		margin-left: 0px;
		&> div.uwt-sidebar, &> form > div.uwt-sidebar
		{
			display: none;
		}
	}
}
body, body > form
{
	&> div.uwt-page
	{
		margin-right: 0px;
		margin-bottom: 0px;
		&> div.uwt-header, &> div.uwt-footer
		{
			padding: 32px;
		}
		&> div.uwt-header
		{
			position: relative;
			&> div.uwt-title
			{
				font-size: 18pt;
				font-weight: 300;
				margin: 0px;
			}
			&> div.uwt-subtitle
			{
				font-size: 12pt;
				font-weight: 300;
				margin-top: 16px;
				color: rgba(0,0,0,0.6);
			}
			&> div.uwt-controlbox
			{
				position: absolute;
				top: 48px;
				right: 32px;
				&> ul
				{
					list-style-type: none;
					margin: 0px;
					padding: 0px;
					&> li
					{
						&> a > i
						{
							font-size: 18pt;
						}
						display: inline-block;
						&+ li
						{
							margin-left: 16px;
						}
					}
				}
			}
		}
		&> div.uwt-content
		{
			padding: 40px;
		}
	}
	&> div.uwt-footer
	{
		position: fixed;
		left: 260px;		/* get this from uwt-sidebar.less */
		bottom: 0px;
		right: 0px;
		
		border-top: 1px solid #d2d3d6;
		background-color: #edeef0;
		padding: 16px;
	}
}
body:not(.uwt-loading) div#uwt-page-loading
{
	display: none;
}
@media (max-width: 999px)
{
	body
	{
		&> div.uwt-page, &> form > div.uwt-page
		{
			margin-left: 0px;
		}
		&> form > div.uwt-sidebar, body > div.uwt-sidebar
		{
			display: none;
		}
	}

}

@media print
{
	body, body > form
	{
		&> div.uwt-page
		{
			margin-left: 0px;
		}
		margin: 0px;
		&> div.uwt-footer
		{
			left: 0px;
		}
	}
}