div.uwt-window
{
	&> div.uwt-header
	{
		-moz-user-select: none;
	}

	&.uwt-footer-hidden > div.uwt-footer
	{
		display: none;
	}
}

div.uwt-modal-background
{
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 0px;
	top: 0px;
	z-index: -1;
}