body, body > form
{
	&> div.uwt-header
	{
		position: fixed;
		left: 0px;
		top: 0px;
		height: 60px;
		right: 0px;
		z-index: 100;
		&> div.uwt-header-item
		{
			display: inline-block;
		}
		ul.uwt-menu
		{
			height: 300px;
			overflow-y: auto;
		}
	}
}