div.uwt-sidebar
{
	position: fixed;
	top: 60px;
	left: 0px;
	width: 260px;
	bottom: 0px;
}
div.uwt-sidebar > ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div.uwt-sidebar > ul > li > a
{
	color: #424242;
	display: block;
	padding-left: 5px;
	line-height: 42px;
}
div.uwt-sidebar > ul > li > a:hover
{
	text-decoration: none;
}
div.uwt-sidebar > ul > li > a > i.fa
{
	display: inline-block;
	width: 45px;
	height: 34px;
	text-align: center;
}