div.uwt-tile > div.uwt-header
{
	letter-spacing: 0.1em;
	padding: 6px 10px;
	border-top-right-radius: 1px;
	border-top-left-radius: 1px;
	text-transform: uppercase;
	text-align: center;
	font-size: 11px;
}
div.uwt-tile > div.uwt-content
{
	padding: 10px 20px;
	font-weight: 300;
	font-size: 48px;
	text-align: center;
}
div.uwt-tile > div.uwt-footer
{
	padding: 5px 10px;
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
}
div.uwt-tile > div.uwt-content > small
{
	display: block;
	font-size: 14px;
}
div.uwt-tile > div.uwt-footer > a + a
{
	margin-left: 8px;
}