<?xml version="1.0"?>
<!--
Web.config file for MBS.Web.TestProject.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <system.web>
    <httpHandlers>
      <add verb="*" type="MBS.Web.Themes.ThemesHandler" path="/Themes/*/Theme.css" />
      <add verb="*" type="MBS.Web.Themes.ThemesHandler" path="/Themes/*/Theme.js" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="Application.Title" value="Azcona-Becker Family" />
    <add key="ThemeColor" value="#614b90" /> <!-- #614b90 -->
    <!-- #2b579a -->
  </appSettings>
</configuration>