div.uwt-actionpreviewbutton
{
	&> a.apb-button
	{
		&:hover
		{
			background-color: #08c;
		}
		
		&::before
		{
			content: "...";
			font-family: inherit;
			font-weight: bold;
		}
		
		opacity: 0;
		visibility: hidden;
		
		display: inline-block;
		
		border: solid 1px #acf;
		padding: 0px 2px 0px 6px;
		border-radius: 4px;
		
		margin-left: 8px;
		
		background-color: #fff;
		padding-right: 6px;
		color: #08c !important;
	}
	&:hover
	{
		&> a.apb-button
		{
			opacity: 1;
			visibility: visible;
			&:hover
			{
				color: #fff !important;
				text-decoration: none;
			}
		}
	}
}