div.uwt-tabcontainer
{
	&> ul.uwt-tabcontainer-tabs
	{
		background-color: #C1CCD1;
		&> li
		{
			&> a
			{
				color: #6E7179;
				font-size: 12px;
				padding: 10px 16px;
				
				&:hover
				{
					background-color: #FAFAFA;
					color: #333333;
				}
			}
			&.uwt-selected > a
			{
				background-color: #FFFFFF;
				color: #242A30;
			}
		}
	}
	&> div.uwt-tabcontainer-tabpages
	{
		background-color: #FFFFFF;
		&> div.uwt-tabpage
		{
			padding: 16px;
		}
	}
}